# Database Connection
DATABASE_URL="postgresql://admin:password123@localhost:5432/vangbac_db?schema=public"

# Next Auth Configuration
# You can generate a secret using: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="vangbac-secret-local-dev-1234"
